        body {
            font-family: Arial, sans-serif;
            background-image: url(hhttps://i.redd.it/y90ho6dp36t41.jpg);
            background-size: cover;
            text-align: center;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background: rgba(15, 77, 15, 0.8);
            color: #fff;
            width: 60%;
            margin: 50px auto;
            padding: 20px;
            border-radius: 10px;
        }
        h2 {
            color: #ffb300;
        }
        .botao, button {
            display: inline-block;
            margin-top: 15px;
            padding: 10px 15px;
            border: none;
            background: #008000;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            cursor: pointer;
            transition: background 0.3s;
        }
        .botao:hover, button:hover {
            background: #006400;
        }
        .feedback {
            margin-top: 15px;
            font-weight: bold;
            color: #ffb300;
        }
        .opcao {
            display: block;
            margin: 8px 0;
        }
